<article id="content">
<hgroup>
	<h1>ようこそ！！deep "EXP" RECORDへ！</h1>
		<h2>やぁ(´・ω・｀)ようこそ「deep "EXP" RECORD」へ、ここはね・・・・。<br />
		FacebookやTwitterなんかで必死に趣味とか友人との交際関係なんかをアピールしても、まだまだ全然なんか足りないゼ！！
		もっと俺にゃ、こんな趣味があるんだぜ！！・・・・・<br />的な人のためのサービスなんだよ。(｀・ω・´)ｼｬｷｰﾝ　
		さぁ、ココへ足を踏み入れたならば、周りがドン引きするくらい自由に、存分に君自身をアピールしなはれ(・∀・)</h2>
				<h3>ただし！！他人を不愉快にするような言動や行動はNGなんだよヽ(`Д´)ﾉ</h3>
</hgroup>
<section class="sec_1">

<table class="top">
  <tr>
    
    <th>Name</th>
    <th>Twitterのﾔｰﾂ</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>@<%= user.screen_name %></td>
    <td><img src="<%= user.image %>" /></td>
    <td><%= link_to 'GO TO PROFILE page', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</section>
</article>
