<article id="content">

<h1>Listing users</h1>

<section class="sec_1">

<table class="top">
  <tr>
    <th>Provider</th>
    <th>Uid</th>
    <th>Name</th>
    <th>Screen name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.provider %></td>
    <td><%= user.uid %></td>
    <td><%= user.name %></td>
    <td><%= user.screen_name %></td>
    <td><%= user.image %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</section>
</article>
