<article id="content">
<hgroup>
	<h1>PLOFILE</h1>
			<h2><%= @user.heading %></h2>
</hgroup>
 <section class="sec_1">

		<p id="notice"><%= notice %></p> 	<!--ログインできたかどうかを表す所なんだってココ-->

	<p class="bun">
    <%= @user.introduction %>
	</p>
		

</section><!--ログインできたかどうかを表す所なんだってココ-->

<section class="sec_1">
	<table>
		<tr>
			<th><b>Twitter name:</b></th>
  			<td><%= @user.name %></td>
		</tr>
		<tr>
			<th><b>Screen name:</b></th>
			<td><%= @user.screen_name %></td>
		</tr>
		<tr>
			<th><b>owner's photo</b></th>
			<td><img src="<%= @user.image %>" alt="owner's photo" /></td>
		</tr>
	</table>

</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</article>