<article id="content">
<hgroup>
	<h1>PLOFILE</h1>
			<h2><%= @user.heading %></h2>
</hgroup>
 <section class="sec_1">

	<p class="bun">
    <%= @user.introduction %>
	</p>
		

</section>
<section class="sec_1">
		<p id="notice"><%= notice %></p>
		<p>
  			<b>Twitter account name:</b>
  			<%= @user.name %>
		</p>
		<p>
			<b>Screen name:</b>
			<%= @user.screen_name %>
		</p>
		<p>
			<b>owner's photo</b>
			<img src="<%= @user.image %>" alt="owner's photo" />
		</p>

</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</article>