<article id="content">
<hgroup>
<h1>WORKS</h1>
		<h2>私の過去の実績たち</h2>
</hgroup>

<section class="sec_1">

<table id="works">
<% @sites.each do |site| %>
  <tr>
      <th>Title</th>
	  	<td><%= site.title %></td>
		<td><%= site.url %></td>
	
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td colspan="2"><%= image_tag "http://capture.heartrails.com/large?#{site.url}" %></td>	
    <td><%= site.description %></td>
    <td><%= link_to 'Edit', edit_user_site_path(site.user, site) %></td>
    <td><%= link_to 'Destroy', user_site_path(site.user, site), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</section>




<br />

<%= link_to 'New Site', new_user_site_path %>
</article>
