<article id="content">
<hgroup>
<h1>WORKS</h1>
		<h2>私の過去の実績たち</h2>
</hgroup>

<section class="sec_1">

<table id="works">
<% @sites.each do |site| %>
  <tr>
  	  <th rowspan="3"><%= site.title %><br />
    	<%= image_tag "http://capture.heartrails.com/large?#{site.url}" %>
	  </th>
	  <th>URL：</th>
	   <td><%= site.url %></td>
  </tr>
  <tr>
  		<th>詳細：</th>
	    <td colspan="2"><%= site.description %></td>
 </tr>
 <tr>
        <td colspan="2"><%= link_to 'Edit', edit_user_site_path(site.user, site) %>
          <%= link_to 'Destroy', user_site_path(site.user, site), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</section>




<br />

<%= link_to 'New Site', new_user_site_path %>
</article>
