<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
