<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div><!--fecebookいいねボタン-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# ----- 追加 ----- %>
<% if current_user %>
  <%# ログイン済み %>
  <%= current_user.name %> : 
   | <%= link_to "マイページ", user_path(current_user) %> | <%= link_to "Logout", logout_path %>
<% else %>
  <%# 未ログイン %>
  <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
<% end %>
<div id="rap">
	<header>
	ここがヘッダーなのである。うぃどすが８２４ぴくせる。はいとが３０５ぴくせるなのである。(´Д｀)＜ｶｯｺｲｲｰ
	</header>
  <% unless controller_name == 'users' && action_name == 'index' %>
		<nav>
			<ul>
				<li><%= link_to "TOP", root_path %></li>	<li><%= link_to "PROFILE", user_path(@user) %></li>	<li><%= link_to "WORKS", user_sites_path(@user) %></li>	<li>PROJECT'S</li>	<li>BLOG</li>	<li>CONTACT</li>
			</ul>
		</nav>
  <% end %>
	

<%# 通知／エラーメッセージ %>
<%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
<%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>
<%# ----- ／追加 ----- %>

<%= yield %>

<footer>
		フッターだよ。イイネボタンとかツイッターのアイコンとか貼りたいよね♩(´・ω・｀)
	</footer>
</div>

</body>
</html>
